{% extends "base.html" %}
{% block content %}
<h3>Edit Student</h3>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input name="name" class="form-control" required value="{{ student.name }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Age</label>
    <input name="age" type="number" class="form-control" value="{{ student.age }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Course</label>
    <input name="course" class="form-control" value="{{ student.course }}">
  </div>
  <div class="mb-3">
    <label class="form-label">Grade</label>
    <input name="grade" class="form-control" value="{{ student.grade }}">
  </div>
  <button class="btn btn-primary">Update</button>
  <a class="btn btn-secondary" href="{{ url_for('index') }}">Cancel</a>
</form>
{% endblock %}
